    <div class="container-fluid">
        <div class="row">
            <div class="col-1" id="sideNav">
                <div class="row">
                    <a class="navbar-brand sideNavBrand" href="#">planit</a>
                </div>
                    <div class="container sideNav-itemsContainer">
                        <ul class="sideNav-items">
                        <div class="row sideNav-itemContainer">
                            <li><img id="profilePicture"src="/imgs/toshi-lySzv_cqxH8-unsplash.jpg" alt=""></li>
                        </div>
                        <div class="row sideNav-itemContainer">
                            <li class ="sideNav-listItem">
                                    <div class="sideNav-item-wrapper">
                                        <span class="icon-wrapper">
                                            <i class="bi-file-person"></i>
                                        </span>
                                        <a class="sideNav-item" href="">Dashboard</a>
                                    </div>
                            </li>
                        </div>
                        <div class="row sideNav-itemContainer">
                            <li class ="sideNav-listItem">
                                    <div class="sideNav-item-wrapper">
                                        <span class="icon-wrapper">
                                            <i class="bi-calendar"></i>
                                        </span>
                                        <a class="sideNav-item" href="">Calendar</a>
                                    </div>
                            </li>
                        </div>
                        <div class="row sideNav-itemContainer">
                            <li class ="sideNav-listItem">
                                    <div class="sideNav-item-wrapper">
                                        <span class="icon-wrapper">
                                            <i class="bi-check2-square"></i>
                                        </span>
                                        <a class="sideNav-item" href="/todo">To-Do</a>
                                    </div>
                            </li>
                        </div>
                        <div class="row sideNav-itemContainer">
                            <li class ="sideNav-listItem">
                                <div class="sideNav-item-wrapper">
                                    <span class="icon-wrapper">
                                        <i class="bi-alarm"></i>
                                    </span>
                                    <a class="sideNav-item" href="">Timer</a>
                                </div>
                            </li>
                        </div>
                        <div class="row sideNav-itemContainer">
                            <li class ="sideNav-listItem">
                                <div class="sideNav-item-wrapper">
                                    <span class="icon-wrapper">
                                        <i class="bi-gear"></i>
                                    </span>
                                    <a class="sideNav-item" href="">Settings</a>
                                </div>
                            </li>
                        </div>
                        </ul>
                    </div>
            </div>
            <div class="col" id="mainContent">