<%- include('partials/header') %>

    <div class="container-fluid">
        <div class="row" id="row">
            <div class="col-1" id="sideNav">
                <div class="row"><a class="navbar-brand sideNavBrand" href="#">planit</a></div>
                <ul class="sideNav-items">
                    <div class="container sideNav-itemsContainer">
                        <div class="row sideNav-itemContainer">
                            <li><img src="/imgs/file-person.svg" alt="Bootstrap" width="32" height="32"><a class="sideNav-item" href="">Dashboard</a></li>
                        </div>
                        <div class="row sideNav-itemContainer">
                            <li><img src="/imgs/calendar.svg" alt="Bootstrap" width="32" height="32"><a class="sideNav-item" href="">Calendar</a></li>
                        </div>
                        <div class="row sideNav-itemContainer">
                            <li><img src="/imgs/check2-square.svg" alt="Bootstrap" width="32" height="32"><a class="sideNav-item" href="">To-Do List</a></li>
                        </div>
                        <div class="row sideNav-itemContainer">
                            <li><img src="/imgs/alarm.svg" alt="Bootstrap" width="32" height="32"><a class="sideNav-item" href="">Timer</a></li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col" id="mainContent">
            </div>
        </div>
    </div>










    <%- include('partials/footer') %>