<%- include('partials/header') %>
    <button id="promptNewToDo">+</button>
    <div>
        <ul>
            <% for(let toDoItem of foundToDoItem) { %>
                <li>
                    <div>
                        <form method="POST" action="/todo/edit/<%=toDoItem._id%>?_method=PATCH">
                            <input name = "content" type="text" value="<%=toDoItem.content%>">
                            <button>Submit</button>
                        </form>
                        <button class="dropDownButton">Dropdown</button>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>
    <form id="newToDoForm" action="/" method="POST">
        <input name="newToDo" type="text">
        <button id="submitNewToDo" type="submit" hidden>+</button>
    </form>

    <%- include('partials/footer') %>