<%- include('partials/header') %>
        <div class="info container-fluid">
            <div class="row">
                <div class="col" id="leftLogIn">
                    <%- include('partials/navbar') %>
                </div>
                <div class="col" id="rightLogIn">
                    <div class="container" id="loginInformation">
                            <form action="">
                                <div class="row"><label class = "loginInfoLabel" for="username">Username</label></div>
                                <div class="row"><input class="signIn" name="username" type="username"></div>
                                <div class="d-flex flex-row-reverse"><a class = "forgotLoginInfo" href="">Forgot username?</a></div>
                                <div class="row mt-3"><label class = "loginInfoLabel" for="password">Password</label></div>
                                <div class="row"><input class="signIn" name="password" type="password"></div>
                                <div class="d-flex flex-row-reverse"><a class = "forgotLoginInfo" href="">Forgot password?</a></div>
                                <div class="row buttons mt-4">
                                        <div class="loginButtons gx-0 col-6">
                                            <button class="btn-primary standard" name="signUp">Sign Up</button>
                                        </div>
                                        <div class="loginButtons col-6">
                                            <button class="btn-primary standard" name="login">Login</button>
                                        </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
<%- include('partials/footer') %>