<%- include('partials/header') %>
    <%- include('partials/sideNavbarHead') %>
        <div class="container-fluid">
            <div class="gearRow row">
                <div class="gearCol col">
                    <a href="/settings"><i class="bi-gear"></i></a>
                </div>
            </div>
            <div class="content-body">
                <div class="row pageHeader">
                    <div class="col-6">
                        <h1 class="titleHeader">Settings</h1>
                    </div>
                    <div class="col-5 weekCol">
                    </div>
                    <div class="col-1 layoutCol">
                    </div>
                </div>
                <button class="btn-primary standard mt-4">Sign Out</button>
        </div>
        <%- include('partials/sideNavbarFoot') %>
            <%- include('partials/footer') %>