input {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.newToDoForm{
    display: none;
}

nav.info {
    color: rgba(255,255,255, 0.5);
}

.nav-item{
    margin-left: 50px;
}

.info .navbar-brand {
    font-family: 'Volkhov', serif;
    font-size: 32px;
    color: #4A4646;
    padding-left: 18px;
    padding-top: 10px;
    margin-right: 0px;
}


#leftLogIn {
    background-color: #F2EAE4;
    height: 100vh;
}

#rightLogIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input:focus, input:active {
    outline:  #4a464677 thin solid;
    box-shadow: none;
}


.signIn {
    border: 1.75px solid #4A4646;
    border-radius: 50px;
    width: 334px;
    height: 62px;
}

.loginInfoLabel {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #4A4646;
    margin-bottom: 5px;
}

.forgotLoginInfo {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    color: #4A4646;
    margin-top: 5px;
}

.forgotLoginInfo:hover {
    font-weight: 300;
    color: #4A4646;
    text-decoration: underline #4A4646;
}

#loginInformation {
    display: flex;
    justify-content: center;
}

.btn-primary{
    background-color: #F8B746;
    color: #4A4646;
    height: 49px;
    width: 151px;
    border: none;
    border-radius: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #e9a52f;
    color: #4A4646;
}

.btn-primary.standard:focus, .btn-primary.standard:active{
    outline: #e9a52f49 solid;
    box-shadow: none;
    background-color: #e9a52f;
    color: #4A4646;
}

#sideNav {
    background-color: #F2EAE4;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    position: fixed;
    height: 100vh;
}

i{
    color: #4A4646;
    font-size: 1.5rem;
}

#profilePicture{
    border-radius: 50%;
    width: 84.7px;
    height: 77.8px;
}

.sideNav-items{
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.sideNav-item{
    text-decoration: none;
    color: #4A4646;
    /* padding-left: 10px; */
}

.sideNav-item:hover{
    text-decoration: none;
    color: #4A4646;
}

.sideNavBrand, .sideNavBrand:hover {
    font-family: 'Volkhov', serif;
    font-size: 32px;
    color: #4A4646;
    padding-left: 18px;
    padding-top: 10px;
    margin-right: 0px;
    margin-bottom: 50px;
}

.sideNav-itemsContainer{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.sideNav-itemContainer.profilePicture{
    margin-bottom: 2em;
}

.sideNav-item-wrapper
{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    height: 49px;
    width: 151px;
}

.sideNav-item-wrapper:hover
{
    background-color: #F8B746;
    color: #4A4646;
    height: 49px;
    width: 151px;
    border: none;
    border-radius: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.sideNav-item-wrapper:focus, .sideNav-item-wrapper:active{
    outline: #e9a52f49 solid;
    box-shadow: none;
    background-color: #e9a52f;
    color: #4A4646;
}

ul{
    padding: 0px;
}

.sideNav-item-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 18px;
}

.icon-wrapper{
    display: flex;
    justify-content: start;
    padding-right: 10px;
}

h1{
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.toDoItem{
    margin-top: 5px;
    list-style-type: none;
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}


.toDoItem button{
    background-color: rgba(255,255,255, 0.5);
    border: rgba(255,255,255, 0.5);
}

.promptNewToDo{
    background-color: rgba(255,255,255, 0.5);
    border: rgba(255,255,255, 0.5);
    padding: 0px;
}


.promptNewToDoItem{
    color: #F8B746;
    font-size: 1.1em;
    margin-right: 1em;
}

#mainContent {
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid #F8B746;
    margin-right: 1em;
    background-color: #ffff;
    transition: background-color 0.25s;
    box-shadow: none;
    outline: none;
}

input[type="checkbox"]:checked {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #F8B746;
    outline: #e9a52f49 0.15em solid;
    transition: background-color 0.25s;
}

.toDoItemContent{
    margin-right: 1em;
}

.strikethrough{
    text-decoration: line-through solid #F8B746;;
}

.newToDo{
    margin-top: 5px;
    border: none;
    border-bottom: 0.5px solid #4a464683;
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.newToDo:focus, .newToDo:active{
    margin-top: 5px;
    border: none;
    border-bottom: 0.5px solid #4a464683;
    outline: none;
    box-shadow: none;
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.gearRow{
    display:flex;
    justify-content: end;
    align-items: right;
}

.gearCol{
    display:flex;
    justify-content: end;
    padding-right: 18px;
    padding-top: 10px;
}

.pageHeader{
    margin-top: 3%;
}

.date{
    margin-top: 2%;
}

.content-body{
    margin-left: 5%;
    margin-right: 5%;
}

.toDoList{
    padding-top: 1%;
    border-top: 1px solid #4a46462c;
}

h3{
    color: #4a464688;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
    display: inline;
}

.weekHeader{
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    display: inline;
    align-self: center;
    padding-right: 1%;
}

.weekCol, .layoutCol{
    display: flex;
    justify-content: end;
}

.gridView{
    margin-right: 0.75em;
}

.promptNewToDoItemCol{
    display: flex;
    justify-content: end;
}

.toDoItemSettings{
    color: #4a464688;
    font-size: 1.09em;
}

.editToDoItem{
    border: none;
    border-bottom: 0.5px solid #4a464683;
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.editToDoItem:focus, .editToDoItem:active{
    border: none;
    border-radius: 15px;
    outline: 0.5px solid #4a464683;
    box-shadow: none;
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#newToDoListBtn{
    background-color: rgba(255,255,255, 0.5);
    border: none;
}

.newToDoListIcon{
    color: #4a464688;
    font-size: 1.09em;
}

.saveBtn{
    margin-left: 1em;
    background-color: #F8B746;
    color: #4A4646;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.toDoListSettings{
    color: #4a464688;
    font-size: 1.09em;
}

.toDoListSettingsBtn{
    background-color: rgba(255,255,255, 0.5);
    border: rgba(255,255,255, 0.5);
    display: inline;
}

.submitNewToDoListTitle{
    background-color: rgba(255,255,255, 0.5);
    border: rgba(255,255,255, 0.5);
}

.promptNewToDoListTitle{
    background-color: rgba(255,255,255, 0.5);
    border: rgba(255,255,255, 0.5);
}

.toDoListTitleHeader{
    display: inline;
}

.newToDoListTitleForm{
    display: none;
}

.newToDoListTitleInput{
    border: none;
    color: #4a464688;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.newToDoListTitleInput:focus, .newToDoListTitleInput:active{
    border: none;
    box-shadow: none;
    outline: none;
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.newToDoPlaceHolder{
    margin-top: 5px;
    color: #4a464688;
}

#newToDoList{
    border: none;
    color: #4a464688;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

#newToDoList:focus, #newToDoList:active{
    border: none;
    box-shadow: none;
    outline: none;
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.nothingToDisplay{
    display: inline;
    margin-top: 2em;
    margin-right: 1em;
    color: #4a464652;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
    border: none;
    border-radius: 25px;
}

.updateToDoForm{
    display: none;
}

.updateToDoInput{
    border: none;
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.updateToDoInput:focus, .updateToDoInput:active{
    color: #4A4646;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid #4a464683;
}

.submitNewToDo{
    background-color: rgba(255,255,255, 0.5);
    border: rgba(255,255,255, 0.5);
}

form {
    display: inline;
}